* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bg-color: #f6f6f6;
    --calculator-bg-color: #aaaaaa;
    --color-btn-clear: #ffaaaa;
    --color-btn-delete: #aaaaff;
    --btn-color: #eeeeee;
    --calculator-border-clr: #333;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--calculator-bg-color);
    border: 2px solid var(--calculator-border-clr);
    width: min(90%, 500px);
    height: 600px;
}
.display{
    height: 30%;
}
.keyboard{
    display: flex;
    justify-content: center;
    align-items: center;
}