*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
};
:root{
    --bg-color:#f6f6f6;
    --calculator-bg-color:#aaaaaa;
    --color-btn-clear:#ffaaaa;
    --color-btn-delete:#aaaaff;
    --btn-color:#eeeeee;
    
}