@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Theme 1 */
  --main-bg-color-theme-1: hsl(222, 26%, 31%);
  --toggle-keypad-bg-color-theme-1: hsl(223, 31%, 20%);
  --screen-bg-color-theme-1: hsla(224, 36%, 15%, 1);
  --key-bg-color-theme-1: hsl(225, 21%, 49%);
  --key-shadow-color-theme-1: hsl(224, 28%, 35%);
  --key-toggle-bg-color-theme-1: hsl(6, 63%, 50%);
  --key-toggle-shadow-color-theme-1: hsl(6, 70%, 34%);
  --key-bg-light-grayish-orange-theme-1: hsla(31, 100%, 100%, 1);
  --key-shadow-grayish-orange-theme-1: hsl(28, 16%, 65%);
  --text-very-dark-grayish-blue-theme-1: hsl(221, 14%, 31%);
  --text-white-theme-1: hsl(0, 0%, 100%);

  /* Theme 2 */
  --main-bg-color-theme-2: hsl(0, 0%, 90%);
  --toggle-keypad-bg-color-theme-2:hsla(0, 5%, 81%, 1);
  --screen-bg-color-theme-2:hsla(9, 1%, 93%, 1);
  --key-bg-color-theme-2: hsl(185, 42%, 37%);
  --key-shadow-color-theme-2: hsl(185, 58%, 25%);
  --key-toggle-bg-color-theme-2: hsl(25, 98%, 40%);
  --key-toggle-shadow-color-theme-2: hsl(25, 99%, 27%);
  --key-bg-light-grayish-yellow-theme-2: hsl(45, 7%, 89%);
  --key-shadow-dark-grayish-orange-theme-2: hsl(35, 11%, 61%);
  --text-very-dark-grayish-yellow-theme-2: hsl(60, 10%, 19%);
  --text-white-theme-2: hsl(0, 0%, 100%);

  /* Theme 3 */
  --main-bg-color-theme-3: hsl(268, 75%, 9%);
  --toggle-keypad-screen-bg-color-theme-3: hsla(268, 71%, 12%, 1);
  --key-bg-color-theme-3: hsl(281, 89%, 26%);
  --screen-bg-color-theme-3:hsla(268, 71%, 12%, 1);
  --key-shadow-vivid-magenta-theme-3: hsl(285, 91%, 52%);
  --key-toggle-bg-color-theme-3: hsl(176, 100%, 44%,1);
  --key-toggle-shadow-soft-cyan-theme-3: hsl(177, 92%, 70%);
  --key-bg-very-dark-violet-theme-3: hsl(268, 47%, 21%,1);
  --key-shadow-dark-magenta-theme-3: hsla(280, 90%, 26%, 1);;
  --text-light-yellow-theme-3: hsl(52, 100%, 62%);
  --text-very-dark-blue-theme-3: hsl(198, 20%, 13%);
  --text-white-theme-3: hsl(0, 0%, 100%);
}
body {
  font-family: 'League Spartan', sans-serif;
  font-family: 'League Spartan', sans-serif;
  height: 100vh;
  background-color: var(--main-bg-color-theme-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-container {
  width: min(90%, 540px);
  height: min(90%, 708px);;
}
.header{
  padding: 0 10px;
  color:var(--text-white-theme-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}
.screen {
  border-radius: 10px;
  color: var(--text-white-theme-1);
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 32px;
  background-color: var(--screen-bg-color-theme-1);
  width: 100%;
  height: 128px;
}
.screen-theme-2{
  background-color: var(--screen-bg-color-theme-2);
  color:var(--text-very-dark-grayish-blue-theme-1);
}
.screen-theme-3{
  background-color: var(--screen-bg-color-theme-3);
  color:var(--text-light-yellow-theme-3);
}
.keyboard-container{
  border-radius: 10px;
  margin-top: 7.5%;
  height: 70%;
  background-color: var(--screen-bg-color-theme-1);
  display: grid;
  justify-content: center;
  align-items: center;
}
.keyboard-theme-2{
  background-color: var(--toggle-keypad-bg-color-theme-2);
}
.keyboard-theme-3{
  background-color: var(--screen-bg-color-theme-3);
}
.keyboard{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4,101px);
  gap:30px;
}
.button{
  cursor: pointer;
  font-size: 25px;
  color:var(--screen-bg-color-theme-1);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:hsla(31, 24%, 89%, 1);
  height: 64px;
  border-radius: 5px;
  box-shadow: 0px -4px 0px 0px hsla(27, 15%, 65%, 1) inset;
}
.button-theme-3{
  background-color: var(--key-bg-very-dark-violet-theme-3);
  box-shadow: 0px -4px 0px 0px hsla(290, 70%, 36%, 1) inset;
  color: var(--text-light-yellow-theme-3);
}
.button:hover{
  background-color:   var(--key-bg-light-grayish-orange-theme-1);
}
.reset{
  background-color: var(--key-bg-color-theme-1);
  box-shadow: inset 0px -4px 0px #414E73;
  grid-column: 1/ span 2;
}
.reset-theme-2{
  background-color: var(--key-bg-color-theme-2);
}
.reset-theme-3{
  background-color: var(--key-shadow-dark-magenta-theme-3);
  box-shadow: 0px -4px 0px 0px hsla(285, 91%, 52%, 1) inset;
  color:var(--text-white-theme-3)
}
.Equals{
  box-shadow: inset 0px -4px 0px #93261A;
  background-color: var(--key-toggle-bg-color-theme-1);
  grid-column: 3/ span 2;
}
.Equals-theme-2{
  background-color: var(--key-toggle-bg-color-theme-2);
}
.Equals-theme-3{
  background-color: var( --key-toggle-bg-color-theme-3);
  color:var(--text-white-theme-3);
  box-shadow: 0px -4px 0px 0px hsla(176, 93%, 70%, 1) inset;
}
@media only screen and (max-width: 600px) {
  .keyboard{
    width: 327px;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(4,40px);
    justify-content: center;
  }
}